<h1>Movie Search Engine</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<form action="/movie" type="GET" >
<input type = "text" name="search" placeholder="Enter the name of the movie">
<button>Search </button>
</form>



